<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="3" >
      <listeners>
      <add name="myListener" type="TextBoxTraceListener,Prototipo" initializeData="LogMessagePrototipo2.txt"
          />
         <!-- <add name="myListener2"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="LogMessagePrototipo.log" />-->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
