<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<startup>
    <supportedRuntime version="v4.0"/>
  </startup>
  <system.diagnostics>
  <!-- <sources>
     
      <source name="System.Net.Sockets" tracemode="protocolonly">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
     
    </sources>
    <switches>
 
      <add name="System.Net.Sockets" value="Critical, Error,  Warning, Information"/>Verbose, 

    </switches>
    <sharedListeners>
      <add name="System.Net"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="network.log"
      />
    </sharedListeners>-->
    <trace autoflush="true" indentsize="3" >
      <listeners>
      <add name="myListener" type="TextBoxTraceListener,Prototipo" initializeData="LogMessagePrototipo2.txt"
          />
         <!-- <add name="myListener2"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="LogMessagePrototipo.log" />
        <remove name="Default" />-->
		
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="ip_IXL" value="127.0.0.1" />
    <add key="port_TCP_receive" value="13000" />
    <add key="port_UDP_receive" value="4010" />
    <add key="port_UDP_send" value="4011" />
    
  </appSettings>
</configuration>
